html, body {
	margin: 0;
	padding: 0;
}

#hero {
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	background-image: url(hero.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
}

.blur-line {
	top: 0;
	left: 0;
	position: sticky;
	background: rgba(153, 184, 208, .1);
	backdrop-filter: blur(8px);
	height: 80px;
	width: 100%;
}

.content {
	padding: 30px;
}